body {
    margin: 0px;
    background-color: #74B1B5;
}

#heroBanner {
background-color: #F8EDB5;
border: 2px hotpink;
height: 274px;
padding: 38px 50px 50px 50px;
}

#logoHed {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo-lockup {
    width: 100px;
    height: 100px;
    padding-right: 30px;
}


h1 {
    font-size: 100px;
    font-family: 'Aboreto', cursive;
    margin: 0px;
}
p1 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
}
img {src: url("../images/Logo.png");
}

#navBar {
    display: flex;
    flex-direction: column;
    background-color: #19133A;
    margin: 0;
    height: 570px;
    padding: 50px 0px 80px 40px;
}
#navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.navItem {
    font-family: 'Aboreto', cursive;
    font-size: 32px;
    color: white;
    text-decoration: underline;
}

.navHeroBanner {
    display: grid;
    grid-template-columns: 80% 20%;
    height: 362px;
}

.navContact {
    display: flex;
    flex-direction: column;
}

.contact {
    background-color: #966AB0;
    height: 252px;
    width: 100%;
    padding: 191px 20px 23px 42px;
    box-sizing: border-box;

}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#workBanner {
    display: flex;
    flex-direction: row;
    height: 590px;
}

.workBannerColumn {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttonText {
    transform: rotate(270deg) translate(298px, -210px);
    font-family: 'Aboreto', cursive;
    font-size: 32px;
    width: 600px;
}

#performanceMarketing {
    background-color: #966AB0;
    color: white;
}

#print {
    color: white;
}

#digital {
    background-color: #19133A;
    color: white;
}

#broadcast {
    background-color: #F8EDB5;
}

#uxDesign {
    background-color: #C4FBFF;
}

#footer {
    height: 200px;
}

.footerImage {
    position: absolute;
    right: 0px;
    z-index: -10;
}

.footerContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.botIcons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 18%;
    height: 270px;
    box-sizing: border-box;
    padding-top: 10px;
}

#tagline1 {
    font-family: 'Aboreto', cursive;
    color: white;
    font-size: 48px;
    margin-top: 20px;
}

#tagline2 {
    font-family: 'Aboreto', cursive;
    color: white;
    font-size: 48px;
    width: 250px;
    margin-top: 150px;
}

#botNavigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-right: 10px;
}

.botNavItem {
    color: white;
    font-family: 'Aboreto', cursive;
    font-size: 24px;
    text-decoration: underline;

}