.heroGridArea {
    /* margin: 0px 5%; */
    /* display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "heroBanner navBar"
    "heroBanner navBar"; */
}
#heroBanner {
/* height: 200px; */
background-color: #F8EDB5;
border: 2px hotpink;
height: 274px;
padding: 38px 50px 50px 50px;
}

#logoHed {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo-lockup {
    width: 100px;
    height: 100px;
    padding-right: 30px;
}

body {
    margin: 0px;
}

h1 {
    font-size: 100px;
    font-family: 'Aboreto', cursive;
    margin: 0px;
}
p1 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
}
img {src: url("../images/Logo.png");
}

#navBar {
    display: flex;
    flex-direction: column;
    background-color: #19133A;
    margin: 0;
    height: 570px;
    padding: 50px 0px 80px 40px;
}
#navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.navItem {
    font-family: 'Aboreto', cursive;
    font-size: 32px;
    color: white;
    text-decoration: underline;
}

.navHeroBanner {
    display: grid;
    grid-template-columns: 80% 20%;
}

.navContact {
    display: flex;
    flex-direction: column;
}

.contact {
    background-color: #966AB0;
    height: 274px;
    width: 100%;
    padding: 191px 20px 23px 42px;
    box-sizing: border-box;

}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}